{% extends 'layout.html.twig' %}

{% block content %}
<div id="gallery">
    {{ breadcrumb|raw }}
    <div class="row">
        <div class="col-md-3">
            <div class="well well-sm">
                {% for f in folders %}
                <i class="icon-folder-close"></i> <a href="{{ f.link }}">{{ f.name }}</a><br />
                {% else %}
                <i>no subfolders</i>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9" id="pictures">
            {% for f in pics %}
            <a href="{{ f.link }}" rel="lightbox[Gallery]" title="{{ f.name }}" rel="tooltip" data-original-title="{{ f.name }}">
                <img src="{{ f.path_thumb }}" />
            </a>
            {% else %}
            <i>Folder empty</i>
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
    $('section #gallery #pictures a').tooltip({placement:"bottom"});
</script>
{% endblock %}
